<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body>

<div class="bg-image" style="background-image: url('/images/NQHESK.jpg'); background-position: center; background-size: cover; position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: -1;">
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4 bg-secondary">
            <img src="https://wallpapercave.com/wp/wp3423613.jpg" class="img-fluid"
                 alt="Sample image">
            <br><br><br>
            <form action="/password" method="post">
                <div class="text-white"><h4>Select Password</h4></div>
                <div class="mb-4">
                    <p><a href="/register" class="text-white">back</a></p>
                    <label class="form-label text-white" for="password">Password:</label>
                    <input type="password" id="password" class="form-control form-control" name="password" placeholder="Password">
                </div>
                <div class="mb-4">
                    <label class="form-label text-white" for="password authentication">Confirm Password:</label>
                    <input type="password" id="password authentication" class="form-control" name="password authentication" placeholder="Confirm Password">
                    <div class="text-danger" id="errorPassword"></div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary password" id="buttonPassword">Submit</button>
                    <br><br><br>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
<script src="/javascripts/password.js"></script>

</body>
</html>